<!-- Config file for the game -->

<config>
  <app>
    <title>Game Development Testbed</title>
    <organization>UPC</organization>
  </app>
	
  <renderer>
    <vsync value="true"/>
  </renderer>

  <window>
    <resolution width="1024" height="768" scale="1"/>
    <fullscreen value="false"/>
    <borderless value="false"/>
    <resizable value="false"/>
    <fullscreen_window value="false"/>
  </window>

  <file_system>
    <path>data.zip</path>
  </file_system>

  <map>
    <folder>maps/</folder>
  </map>

  <player character_width="48" character_height="75" InitialPos_x="100" InitialPos_y="100" PlayerVel_w="1" PlayerVel_r="2" Gravity="10.0f" slide_distance="40" >  
    <colliders>
      <tile_types>
        <WALL value="68"/>
        <CLIMB_WALL value="52"/>
        <BONUS value="84"/>
      </tile_types>
      <main_collider>
        <coordinate_x value="0"/>
        <coordinate_y value="0"/>
        <width value="48"/>
        <height value="75"/>
      </main_collider>
    </colliders>
  </player>  
</config>