<!-- Config file for the game -->

<config>
  <app>
    <title>Game Development Testbed</title>
    <organization>UPC</organization>
  </app>
	
  <renderer>
    <vsync value="true"/>
  </renderer>

  <window>
    <resolution width="1024" height="768" scale="1"/>
    <fullscreen value="false"/>
    <borderless value="false"/>
    <resizable value="false"/>
    <fullscreen_window value="false"/>
  </window>

  <file_system>
    <path>data.zip</path>
  </file_system>

  <map>
    <folder>maps/</folder>
  </map>

  <entityManager>
    <player>
      <player_stats>
        <character_width value="48"/>
        <character_height value="75"/>
        <InitialPos_x value="75"/>
        <InitialPos_y value="20"/>
        <PlayerVel_w value="3"/>
        <PlayerVel_r value="6"/>
        <Gravity value="4.0f"/>
        <falling_velocity value="10.0f"/>
        <slide_distance value="40"/>
      </player_stats>
      <colliders>
        <tile_types>
          <WALL value="68"/>
          <CLIMB_WALL value="52"/>
          <BONUS value="84"/>
        </tile_types>
        <main_collider>
          <coordinate_x value="0"/>
          <coordinate_y value="0"/>
          <width value="48"/>
          <height value="75"/>
        </main_collider>
      </colliders>
    </player>
  </entityManager>
</config>